@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3ece2;
  --foreground: #f3ece2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3ece2;
    --foreground: #f3ece2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
